@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans Pro';
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0E3A6F;
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: white;
  transition: 0.2s;
}

.navbar__logo i {
  color: #E88C17;
}

.navbar__logo:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
  transition: 0.2s;
}

.navbar__menu li:hover {
  background-color: #E88C17;
  border-radius: 4px;
  transition: 0.2s;
}

.navbar__icons {
  display: flex;
  list-style: none;
  color: white;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
  transition: 0.2s;
}

.navbar__icons li:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.navbar__toggleBtn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #E88C17;
  display: none;
  transition: 0.2s;
}

.navbar__toggleBtn:hover {
  transition: 0.2s;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%; 
  }
  
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}